In [3]:
 a=[1,2,3,4,5,6,7] 
for i in a: 
     print (i**2)

1
4
9
16
25
36
49

In [6]:
n = 1 
b=7
while n <= b:
    print (n, '\t', n ** 2)
    n += 1

1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49

In [8]:
#to output using for loop
def sqr_num(n):#this is the function named(we use def) and sqr takes parameter n
    i = 1    #we initialize i
    while i*i <= n: #the loop
        print(i*i) #prints the output
        i += 1   #increments

sqr_num(50)

1
4
9
16
25
36
49

In [10]:
#code that uses for loop and has an argument for the  same
def sqr_num(n):#func
    for i in range(1, n+1):#the for loop
        if i*i <= n:
            print(i*i)

sqr_num(50)#call the function

1
4
9
16
25
36
49

In [15]:
#listing of items
thislist=["mango","orrange","banana"]
print(thislist)

['mango', 'orrange', 'banana']

In [18]:
#concatinating a list
thislist=["mango","orrange","banana"]
print(thislist)

list2=["Joy","Lilian","David"]
print(list2)

combine=[thislist,list2]
print(combine)

['mango', 'orrange', 'banana']
['Joy', 'Lilian', 'David']
[['mango', 'orrange', 'banana'], ['Joy', 'Lilian', 'David']]