# Connecting to and Querying SQL Databases

### 1.Create new Database and open a connection

In [4]:
import sqlite3
con = sqlite3.connect("Sample.db")

### 2.Cursor for Excecution

In [5]:
cur = con.cursor()

### 3.Create Table and columns

In [6]:
cur.execute(
 """
CREATE TABLE movies(movieName, productionYear, rating)
 """
)

### 4.Check if the table exists

In [7]:
res = cur.execute("""SELECT name FROM sqlite_master""")
res.fetchone()

('movies',)

### 5.Insert data into the table

In [8]:
cur.execute("""
    INSERT INTO movies VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

### 6.Commit the transaction

In [9]:
con.commit

### 7.Other commands to see our tables

In [10]:
for row in cur.execute("""SELECT * FROM movies"""):
  print(row)

('Monty Python and the Holy Grail', 1975, 8.2)
('And Now for Something Completely Different', 1971, 7.5)

In [11]:
for row in cur.execute("SELECT productionYear, movieName FROM movies ORDER BY productionYear"):
    print(row)

(1971, 'And Now for Something Completely Different')
(1975, 'Monty Python and the Holy Grail')

In [14]:
import pandas as pd

pd.DataFrame(
  data = cur.execute("""SELECT * FROM movies""").fetchall(),
  columns=[x[0] for x in cur.description]
)

                                    movieName  productionYear  rating
0             Monty Python and the Holy Grail            1975     8.2
1  And Now for Something Completely Different            1971     7.5