In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Student Details - Sheet1.csv')

In [3]:
df.head()

               name                      email   age                course
0          John Doe          john.doe@gmail.com    20     Computer Science
1        Jane Smith        jane.smith@gmail.com    22         Data Science
2     Alice Johnson     alice.johnson@gmail.com    24       Cyber Security
3       Kamau Kamau       kamau.kamau@gmail.com    26     Acturial Science
4  Francis Ndirangu  francis.ndirangu@gmail.com    28  Mechanical Engineer

In [4]:
path=('./Student Details - Sheet1.csv')

In [5]:
def get_student_details(path):
    df = pd.read_csv(path)
    return df

In [6]:
get_student_details('./Student Details - Sheet1.csv')

               name                      email   age                course
0          John Doe          john.doe@gmail.com    20     Computer Science
1        Jane Smith        jane.smith@gmail.com    22         Data Science
2     Alice Johnson     alice.johnson@gmail.com    24       Cyber Security
3       Kamau Kamau       kamau.kamau@gmail.com    26     Acturial Science
4  Francis Ndirangu  francis.ndirangu@gmail.com    28  Mechanical Engineer

In [7]:
data= get_student_details('./Student Details - Sheet1.csv')
data['name']

0            John Doe
1          Jane Smith
2       Alice Johnson
3         Kamau Kamau
4    Francis Ndirangu
Name: name, dtype: object

In [8]:
def get_student_details(path):
    df = pd.read_csv(('./Student Details - Sheet1.csv'))
    student_details = df.to_dict(orient = 'records')
    return student_details

In [9]:
def print_student_details():
    student_details = get_student_details('./Student Details - Sheet1.csv')
    print(student_details)
print_student_details()

[{'name': 'John Doe', 'email ': 'john.doe@gmail.com', 'age ': 20, 'course': 'Computer Science'}, {'name': 'Jane Smith', 'email ': 'jane.smith@gmail.com', 'age ': 22, 'course': 'Data Science'}, {'name': 'Alice Johnson', 'email ': 'alice.johnson@gmail.com', 'age ': 24, 'course': 'Cyber Security'}, {'name': 'Kamau Kamau', 'email ': 'kamau.kamau@gmail.com', 'age ': 26, 'course': 'Acturial Science'}, {'name': 'Francis Ndirangu', 'email ': 'francis.ndirangu@gmail.com', 'age ': 28, 'course': 'Mechanical Engineer'}]